@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tangerine:wght@400;700&display=swap');
*, html{
    padding: 0;
    margin: 0;
}
body{
    background: url('images/bg\ body\ 2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}
:root{
    --primary-color: rgb(0, 140, 255);   
    --secondary-color: rgb(255, 123, 0);
    --extra-color: rgba(255, 255, 255, 0.3);
    --extra-color2: white;
    --extra-color3: rgb(100, 100, 100);
    --tertier-color: rgba(136, 255, 0, 0.7);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px 20px 20px;
}
.logo-nav{
    color: var(--extra-color2);
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-size: 30px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px 5px 10px;
    gap: 30px;
}
.navbar a{
    padding: 0 5px 0 0;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.a-home a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    color: white;
}
.a-home a:hover,.a-daftar a:hover, .a-review a:hover{
     transition: all ease 0.3s;
    cursor: pointer;
    color: rgb(133, 133, 133);
}
.a-daftar a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    color: white;
}
.a-review a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
main{
    width: 50%;
    margin-top: 5%;
    margin-left: 25%;
    animation: appear 2.5s;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 5px 30px -3px rgba(0,0,0,0.75);
}
.judul-isi{
    text-align: center;
    font-family: "Tangerine", cursive;
    padding-top: 20px;
    font-size: 25px;
    color: rgb(255, 255, 255);
}
main .isi{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding: 10px 30px 40px 50px;
    margin: 0 0 10px 0;
}
.isi label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 7px;
}
label{
    font-size: 16px;
    color: white;
}
input{
    width: 550px;
    height: 35px;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: transparent;
}
input[type=text]{
    padding: 5px 0px 5px 15px;
    font-size: 15px;
}
input::placeholder{
    color: white;
}
.kirim{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 95%;
}
.kirim input{
    padding: 7px 10px 10px 10px;
    width: fit-content;
    border: none;
    border-radius: 3px;
    background-color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    box-shadow: 1px 5px 30px -3px rgba(0,0,0,0.75);
}
.kirim input:hover{
    transition: all ease 0.3s;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    cursor: pointer;
}
@keyframes appear {
    from{
        opacity: 0.5;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
footer{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 60px;
    margin: 15% 0 0 0;
    padding: 20px 0 30px 0;
    color: var(--extra-color2);
}
.separator{
    width: 1px;
    height: 100px;
    background-color: white;
    margin-top: 2%;
}
footer section{
    animation: appear 4s;
}
footer a{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: var(--extra-color2);
}
footer a:hover{
    transition: all ease 0.2s;
    color: rgb(150, 150, 150);
}
.info-footer{
    width: 30%;
}
.info{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.info h1{
    font-family: "Tangerine", cursive;
    font-size: 50px;
}
.info p{
    font-family: "Poppins", sans-serif;
    text-align: justify;
    font-size: 15px;
}
.contact{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.judul-contact{
    font-family: "Tangerine", cursive;
    font-size: 40px;
    font-weight: 600;
}
.alamat{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.telepon{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.email{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.ig{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.fb{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.gh{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.judul-socmed{
    font-family: "Tangerine", cursive;
    font-size: 40px;
    font-weight: 600;
}
.socmed{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.socmed a{
    font-size: 17px;
    font-weight: 300;
}
.qlinks{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.judul-qlinks{
    font-family: "Tangerine", cursive;
    font-size: 40px;
    font-weight: 600;
}
.isi-qlinks{
    display: flex;
    flex-direction: column;
    font-size: 17px;
    font-weight: 300;
    row-gap: 5px;
}

